.cm-s-style-mirror.CodeMirror {
    color: #444;
    font-size: 16px;
    line-height: 25px
}

.cm-s-style-mirror .CodeMirror-scroll {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden !important;
    overflow-y: scroll !important
}

.cm-s-style-mirror div.CodeMirror-selected {
    background: #e0e0e0
}

.cm-s-style-mirror .CodeMirror-line::selection,
.cm-s-style-mirror .CodeMirror-line > span::selection,
.cm-s-style-mirror .CodeMirror-line > span > span::selection {
    background: #e0e0e0
}

.cm-s-style-mirror .CodeMirror-line::-moz-selection,
.cm-s-style-mirror .CodeMirror-line > span::-moz-selection,
.cm-s-style-mirror .CodeMirror-line > span > span::-moz-selection {
    background: #e0e0e0
}

.cm-s-style-mirror .CodeMirror-gutters {
    background: #f5f5f5;
    border-right: 0
}

.cm-s-style-mirror .CodeMirror-guttermarker {
    color: #ac4142
}

.cm-s-style-mirror .CodeMirror-guttermarker-subtle {
    color: #b0b0b0
}

.cm-s-style-mirror .CodeMirror-linenumber {
    color: #b0b0b0
}

.cm-s-style-mirror .CodeMirror-cursor {
    border-left: 1px solid #505050
}

.cm-s-style-mirror span.cm-comment {
    color: green
}

.cm-s-style-mirror span.cm-atom {
    color: #aa759f
}

.cm-s-style-mirror span.cm-number {
    color: #aa759f
}

.cm-s-style-mirror span.cm-property,
.cm-s-style-mirror span.cm-attribute {
    color: #90a959
}

.cm-s-style-mirror span.cm-keyword {
    color: #023a52
}

.cm-s-style-mirror span.cm-string {
    color: #e46918
}

.cm-s-style-mirror span.cm-variable {
    color: #90a959
}

.cm-s-style-mirror span.cm-variable-2 {
    color: #00695f
}

.cm-s-style-mirror span.cm-variable-3 {
    color: #2e6e8a
}

.cm-s-style-mirror span.cm-def {
    color: #d28445
}

.cm-s-style-mirror span.cm-bracket {
    color: #202020
}

.cm-s-style-mirror span.cm-tag {
    color: #000
}

.cm-s-style-mirror span.cm-link {
    color: #b26a00
}

.cm-s-style-mirror span.cm-error {
    /* background: #ac4142;
      color: #f5f5f5; */
    text-decoration: underline;
    -webkit-text-decoration-style: wavy;
    text-decoration-style: wavy;
    -webkit-text-decoration-color: #df8d8e;
    text-decoration-color: #df8d8e
}

.cm-s-style-mirror .CodeMirror-activeline-background {
    background: #dddcdc
}

.cm-s-style-mirror .CodeMirror-matchingbracket {
    color: #202020 !important;
    background-color: rgba(0, 0, 0, .1) !important
}

/*! Color themes for Google Code Prettify | MIT License | github.com/jmblog/color-themes-for-google-code-prettify */
.prettyprint {
    font-family: Menlo, Bitstream Vera Sans Mono, DejaVu Sans Mono, Monaco, Consolas, monospace;
    border: 0 !important
}

.pln {
    color: #333
}

ol.linenums {
    margin-top: 0;
    margin-bottom: 0;
    color: #ccc
}

li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
    padding-left: 1em;
    background-color: #fff;
    list-style-type: decimal
}

@media screen {
    .str {
        color: #183691
    }

    .kwd {
        color: #a71d5d
    }

    .com {
        color: #969896
    }

    .typ {
        color: #0086b3
    }

    .lit {
        color: #0086b3
    }

    .pun {
        color: #333
    }

    .opn {
        color: #333
    }

    .clo {
        color: #333
    }

    .tag {
        color: navy
    }

    .atn {
        color: #795da3
    }

    .atv {
        color: #183691
    }

    .dec {
        color: #333
    }

    .var {
        color: teal
    }

    .fun {
        color: #900
    }
}

.container_night {
    background-color: #333
}

.container_night .el-main {
    background-color: #333
}

.container_night .CodeMirror {
    caret-color: grey;
    color: grey;
    background-color: #1e1e1e;
    box-shadow: inset 0 0 0 1px rgba(100, 37, 37, .102)
}

.container_night .output_night .preview {
    background-color: #1e1e1e;
    box-shadow: 0 0 70px rgba(0, 0, 0, .3)
}

.container_night .output_night .preview-wrapper {
    background-color: #1e1e1e;
    box-shadow: inset 0 0 0 1px hsla(0, 4.3%, 91%, .102)
}

.container_night .output_night .code-snippet__fix {
    background-color: #eee
}

.container_night .cm-s-style-mirror .CodeMirror-matchingbracket {
    color: #f0f0f0 !important;
    background: #1e1e1e !important
}

.container_night .cm-s-xq-light span.cm-variable-2,
.container_night .cm-s-style-mirror span.cm-tag {
    color: grey
}

.container_night .cm-s-xq-light .CodeMirror-activeline-background {
    background-color: initial
}

.container_night .cm-s-xq-light span.cm-string {
    color: #8e9eb9
}

.container_night .cm-s-xq-light span.cm-link {
    color: #84868b
}

.container_night .editor__header {
    background-color: #3c3c3c
}

.container_night .el-button {
    color: #f0f0f0;
    background-color: #1e1e1e;
    border: 1px solid transparent
}

.container_night .el-button.is-plain:focus,
.container_night .el-button.is-plain:hover {
    background: #1e1e1e;
    color: #f0f0f0;
    border: 1px solid #f0f0f0
}

.container_night .el-button.is-plain:focus i,
.container_night .el-button.is-plain:hover i {
    color: #f0f0f0
}

.container_night .insert__dialog .el-dialog,
.container_night .about__dialog .el-dialog,
.container_night .reset__dialog .el-dialog,
.container_night .upload__dialog .el-dialog {
    background-color: #333
}

.container_night .insert__dialog .el-dialog__body,
.container_night .about__dialog .el-dialog__body,
.container_night .reset__dialog .el-dialog__body,
.container_night .upload__dialog .el-dialog__body {
    color: #f0f0f0
}

.container_night .insert__dialog .el-dialog__title,
.container_night .about__dialog .el-dialog__title,
.container_night .reset__dialog .el-dialog__title,
.container_night .upload__dialog .el-dialog__title,
.container_night .insert__dialog .el-form-item__label,
.container_night .about__dialog .el-form-item__label,
.container_night .reset__dialog .el-form-item__label,
.container_night .upload__dialog .el-form-item__label {
    color: #f0f0f0
}

.container_night .insert__dialog .el-tabs__item,
.container_night .about__dialog .el-tabs__item,
.container_night .reset__dialog .el-tabs__item,
.container_night .upload__dialog .el-tabs__item {
    color: grey
}

.container_night .insert__dialog .el-tabs__nav-wrap::after,
.container_night .about__dialog .el-tabs__nav-wrap::after,
.container_night .reset__dialog .el-tabs__nav-wrap::after,
.container_night .upload__dialog .el-tabs__nav-wrap::after {
    background-color: #84868b
}

.container_night .insert__dialog .is-active,
.container_night .about__dialog .is-active,
.container_night .reset__dialog .is-active,
.container_night .upload__dialog .is-active {
    color: #f0f0f0
}

.container_night .insert__dialog .el-upload-dragger,
.container_night .about__dialog .el-upload-dragger,
.container_night .reset__dialog .el-upload-dragger,
.container_night .upload__dialog .el-upload-dragger {
    background-color: #1e1e1e
}

.container_night .el-icon-upload,
.container_night .el-icon-download,
.container_night .el-icon-refresh,
.container_night .el-icon-s-grid {
    color: #f0f0f0
}

.container_night ::-webkit-scrollbar {
    background-color: #1e1e1e
}

.CodeMirror {
    padding-bottom: 0;
    height: 100% !important;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .1);
    font-size: 14px;
    font-family: PingFang SC, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important
}

.CodeMirror-vscrollbar:focus {
    outline: none
}

.CodeMirror-scroll {
    padding: 20px;
    padding-bottom: 0;
    overflow-x: hidden !important;
    overflow-y: scroll !important
}

.CodeMirror-vscrollbar {
    width: 0;
    height: 0
}

/*wechat code block*/
.rich_media_content .code-snippet *,
.rich_media_content .code-snippet__wechat * {
    max-width: 1000% !important
}

.code-snippet__wechat {
    word-wrap: break-word !important;
    font-size: 14px;
    margin: 10px 8px;
    color: #333;
    position: relative;
    background-color: rgba(27, 31, 35, .05);
    border: 1px solid #f0f0f0;
    border-radius: 2px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    line-height: 24px
}

.code-snippet__wechat .code-snippet__line-index {
    counter-reset: line;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    height: 100%;
    padding: 1em;
    list-style-type: none
}

.code-snippet__wechat .code-snippet__line-index li {
    list-style-type: none;
    text-align: right
}

.code-snippet__wechat .code-snippet__line-index li::before {
    min-width: 1.5em;
    text-align: right;
    left: -2.5em;
    counter-increment: line;
    content: counter(line);
    display: inline;
    color: rgba(0, 0, 0, .15)
}

.code-snippet__wechat pre {
    overflow-x: auto;
    padding: 1em 1em 1em 1em;
    white-space: normal;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    -webkit-overflow-scrolling: touch
}

.code-snippet__wechat code {
    text-align: left;
    font-size: 14px;
    white-space: pre;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    position: relative;
    font-family: Consolas, Liberation Mono, Menlo, Courier, monospace
}

.code-snippet__wechat ul li {
    list-style: none
}

/*github code block*/
.code-snippet__github {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    font-size: 12px;
    margin: 10px 8px;
    position: relative;
    height: auto;
    background-color: #f7f7f7;
    border-radius: 8px
}

.code-snippet__github .code-snippet__line-index {
    display: none
}

.code-snippet__github .code__pre {
    display: grid;
    position: relative;
    counter-reset: line;
    overflow-x: auto;
    padding: 1em;
    white-space: normal;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    line-height: 20px;
    font-family: Operator Mono, Consolas, Monaco, Menlo, monospace;
    -webkit-overflow-scrolling: touch
}

.code-snippet__github pre {
    display: inline-block;
    font-size: 12px
}

.code-snippet__github code {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    position: relative;
    padding-right: 8px;
    text-align: left;
    white-space: pre;
    font-family: Consolas, Liberation Mono, Menlo, Courier, monospace
}

.code-snippet__github code::before {
    display: none
}

.code-snippet__github ul li {
    list-style: none
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #fff
}

::-webkit-scrollbar-track {
    border-radius: 6px;
    background-color: hsla(0, 0%, 78.4%, .3)
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: rgba(144, 146, 152, .5);
    -webkit-transition: background-color .3s;
    transition: background-color .3s
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(144, 146, 152, .5)
}

/* CSS-hints */
.CodeMirror-hints {
    position: absolute;
    z-index: 10;
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 2px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .12), 0 2px 4px 0 rgba(0, 0, 0, .08);
    min-width: 200px;
    font-size: 12px;
    font-family: monospace;
    max-height: 20em;
    overflow-y: auto;
    color: #333
}

.CodeMirror-hint {
    margin: 0;
    margin-top: 10px;
    padding: 4px 6px;
    border-radius: 2px;
    white-space: pre;
    color: #000;
    cursor: pointer
}

.CodeMirror-hint:first-of-type {
    margin-top: 0
}

.CodeMirror-hint:hover {
    background: #f0f0f0
}